body {
  background-color: darkblue;
  color: white;
  font-family: Verdana;
}

h1 {
  text-align: center;
}

a {
  color: #b9f;
}

.hLine {
  margin-top: 0.1rem;
  border-bottom: 1px solid #fff;
  width: 100%;
}

#links {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.5rem;
  background-color: #fff2;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.linkSection {
  text-align: center;
}

.version {
  color: white;
  opacity: 0.5;
  position: fixed;
  bottom: 0px;
  left: 10px;
  width: 100%;
}